

/* dealing with span for the search bit */

div > a > span {
    word-break: break-all;
}

/* font families */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Manrope";
}

.navbar-light .navbar-brand, .navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:active {
    font-family: "Inter";
    font-weight: 600;
}

/* add text + colours */

.navbar-brand::after {
    content:"\ Theme Documentation";
    color: #00BD6E;
}

.navbar-brand:hover::after {
    color: #26ffa8;
}



/* needs to find a way to just do titles */
.docs-content > h1 {
	display: none;
}


/* change code colour */
code {
    background-color: hsl(0, 0%, 95%);
}

/* change letter spacing */
body {
    letter-spacing: -0.015rem;
  }

/* change boldness of buttons */
.btn {
    font-weight: 500;
}

/* code colours */
code, code > span {
    color: #c7254e;
}

body.dark code, body.dark code > span {
    color: #dee2e6;
}