

/* dealing with span for the search bit */

div > a > span {
    word-break: break-all;
}

.navbar-light .navbar-brand, .navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:active,
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Manrope";
}

/* needs to find a way to just do titles
h1, .h1 {
    display: none;
}
*/

